<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="江西" value="Jiangxi"/>
    <add key="四川" value="Sichuan"/>
    <add key="广东" value="Guangdong"/>
    <add key="上海" value="Shanghai"/>
  </appSettings>
</configuration>